<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mvc.chap05.repository.MemberMapper">


    <insert id="save">
        Insert Into tbl_member
        (account, password, name, email)
        values
        (#{account},#{password},#{name},#{email})
    </insert>


    <select id="findMember" resultType="member">
        select
        account, password, name, email, auth, reg_date
        from tbl_member
        WHERE account = #{account}
    </select>

    <select id="isDuplicate" resultType="int">
        SELECT COUNT(*)
        FROM tbl_member
        <if test="type == 'account'">
            WHERE account = #{keyword}
        </if>
        <if test="type == 'email'">
            WHERE email = #{keyword}
        </if>
    </select>

</mapper>